<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>

  
  <style>
  body {
            margin: 0;
            font-family: Arial, sans-serif;
        } 
  .center-content {
  text-align: center;
  margin-top: 100px;
}

.welcome-message {
  font-size: 36px; 
}

.user-name {
  font-size: 24px; 
  font-weight: bold;
}
</style>
</head>
<body>
  <%- include('header', { username: username }) %>

  <div class="center-content">
    <div class="welcome-message">Contact Us</div>
  </div>
</body>
</html>
